{% extends "home/layout.html" %}
{% block title %}
Sports
{% endblock title %}
{% block body %}
<div class="jumbotron d-flex justify-content-center m-0 p-3">
  <h1 class="display-2 font-weight-bold">SPORTS</h1>
</div>
<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active img-thumbnail img-responsive">
              <img class="daysCarousel" src="{{ sportlist.imageOne.url }}" class="d-block w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item img-thumbnail img-responsive">
            <img class="daysCarousel" src="{{ sportlist.imageTwo.url }}" class="d-block w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item img-thumbnail img-responsive">
            <img class="daysCarousel" src="{{ sportlist.imageThree.url }}" class="d-block w-100 img-fluid" alt="...">
          </div>
        </div>
      </div>
</div>
<div class="container">
  <h1 class="font-weight-bold text-center">What are Sports:</h1>
  <p class="text-center ">{{ sportlist.description|safe }}</p>
</div>

  <div class="card m-3">
    <h3 class="card-header text-center font-weight-bold">INDOOR SPORTS</h3>
    <div class="card-body">
      <div class="row">
        {% for sport in isports %}
        <div class="col">
          <div class="card m-1 p-1" style="width: 18rem;">
            <h5 class="card-header font-weight-bold text-center">{{ sport.name|safe }}</h5>
            <img class="card-img-top" src="{{ sport.image.url }}">
            <div class="card-body">{{ sport.description|truncatewords:150|safe }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


  <div class="card m-3">
    <h3 class="card-header text-center font-weight-bold">OUTDOOR SPORTS</h3>
    <div class="card-body">
      <div class="row">
        {% for sport in osports %}
        <div class="col">
          <div class="card m-1 p-1" style="width: 18rem;">
            <h5 class="card-header font-weight-bold text-center">{{ sport.name|safe }}</h5>
            <img class="card-img-top" src="{{ sport.image.url }}">
            <div class="card-body">{{ sport.description|truncatewords:150|safe }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock body %}
